body {
    margin:0;
    padding:0;
    background:#000;
}

/* global styles */

.header {
    width: 980px;
    margin: 0 auto;
    position: relative;
    padding: 0 10px 0 10px;
}

.background {
    background-color: #4C4C4C;
    opacity: .7;
}

.content {
  position: relative;
  margin: 50px 40px 40px 0px;
  float: right;
  display: none;
  border-radius: 3px;
}

.padded {
    padding: 10px 20px 10px 20px;
}

.shadow {
  text-shadow: 1px 1px 1px black;
}

.clear {
    clear:both; 
}

/* !!! header !!! */

h1 { 
	font-size: 100px; 
	color: #77C4D3;
	font-family: 'edmondsans_regularregular';
	margin: 80px -20px 0 0;
  float: right;
  z-index: 101;
}

/* end of header */

/* for buttons */

.buttons p {
  font-family: 'maven';
  font-size: 24px;
  color: white;
  margin: 8px 0 0 10px;
}

#pause {
    cursor: pointer;
}

#play {
    cursor: pointer;
}

.buttons {
    position: absolute;
    bottom: 0px;
    left: 0px;
    height: 40px;
    width: 85px;
    background-color: #A4DEAB;
    opacity: .7;
}

/* end of buttons */

/* content */

.content p {
    font-family: 'edmondsans_regularregular';
    font-size: 18px;
    color: white;
    text-shadow: 1px 1px 1px black;
}

.content a {
    text-decoration: none;
}

#buzz {
  float: left;
  width: 187px;
  height: 329px;
  margin-right: 10px;
}

/* end of content */

/* bottom nav */

h2 {
    font-family: 'lavanderia_regularregular';
    font-size: 36px;
    cursor: pointer;
}

.bottom-nav {
    position: absolute;
    bottom: 0px;
    right: 0px;
    width: 600px;
}

.nav-tab {
	  color: #8C8C8C; /* 404040 */
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    float: right;
    padding: 0 10px 0 10px;
    margin: 0 10px 0 10px;
}

.nav-tab:hover {
    color: rgb(220,220,220);
}

/* end of nav */

/* FONTS */

@font-face {
    font-family: 'maven';
    src: url('fonts/mavenprolight-300-webfont.eot');
    src: url('fonts/mavenprolight-300-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/mavenprolight-300-webfont.woff') format('woff'),
         url('fonts/mavenprolight-300-webfont.ttf') format('truetype'),
         url('fonts/mavenprolight-300-webfont.svg#maven_pro_light_300regular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'edmondsans_regularregular';
    src: url('fonts/edmondsans-regular-webfont.eot');
    src: url('fonts/edmondsans-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/edmondsans-regular-webfont.woff') format('woff'),
         url('fonts/edmondsans-regular-webfont.ttf') format('truetype'),
         url('fonts/edmondsans-regular-webfont.svg#edmondsans_regularregular') format('svg');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'lavanderia_regularregular';
    src: url('fonts/lavanderia_regular-webfont.eot');
    src: url('fonts/lavanderia_regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/lavanderia_regular-webfont.woff') format('woff'),
         url('fonts/lavanderia_regular-webfont.ttf') format('truetype'),
         url('fonts/lavanderia_regular-webfont.svg#lavanderia_regularregular') format('svg');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'lavanderia_delicatedelicate';
    src: url('fonts/lavanderia_delicate-webfont.eot');
    src: url('fonts/lavanderia_delicate-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/lavanderia_delicate-webfont.woff') format('woff'),
         url('fonts/lavanderia_delicate-webfont.ttf') format('truetype'),
         url('fonts/lavanderia_delicate-webfont.svg#lavanderia_delicatedelicate') format('svg');
    font-weight: normal;
    font-style: normal;

}

/* for crap browsers */

.badbrowser {
    background-color: black;
}

.badbrowser p {
    font-family: 'helvetica';
    font-size: 24px;
    color: white;
    text-align: center;
}